{
  "variables": {
    "app_name": "",
    "version": "",
  },
  "builders": [
    {
      "type": "amazon-ebs",
      "region": "{{ packer_defaults.region }}",
      "vpc_id": "{{ packer_envs.non-prod.vpc }}",
      "subnet_id": "{{ packer_envs.non-prod.subnet }}",
      "instance_type": "{{ packer_defaults.instance_type | default('t2.micro') }}",
      "iam_instance_profile": "{{ packer_envs.non-prod.instance_profile }}",
      "encrypt_boot": "{{ packer_defaults.encrypt_ami | default('false') }}",
      {% if (packer_defaults.use_spot_instances|default(True)|bool) %}
          "encrypt_boot": "auto",
          "spot_price_auto_product": "linux"
      {% endif %}
      "source_ami": "{{user `ami`}}",
      "ami_name": "{{user `app_name`}}-{{isotime \"20060102150405\"}}",
      "run_tags": {
        "Name": "Packer Builder for {{user `app_name`}}",
        "role": "packer",
      },
      "tags": {
        "Name": "{{user `app_name`}}",
        "Date": "{{isotime \"20060102150405\"}}",
      },
      "ssh_username": "ec2-user",
      "shutdown_behavior": "terminate"
    }
  ],
  "provisioners": [
    {
      "type": "ansible",
      "playbook_file": "./playbooks/server.yml",
      "extra_arguments": [ "-v", "--extra-vars", "region={{user `region`}} region_short={{user `region_short`}} env={{user `env`}}  env_short={{user `env_short`}}" ]
    }
  ],
  "post-processors": [
    [
      {
        "output": "manifest.json",
        "strip_path": true,
        "type": "manifest"
      }
    ]
  ]

}
