{
  "variables": {},
  "builders": [
    {
      "type": "amazon-ebs",
      "region": "{{ app.build_image.regions.main | default(config_env.defaults.regions.main) }}",
      "vpc_id": "{{ config_env.settings.envs[config_env.settings.env].vpc }}",
      "subnet_id": "{{ config_env.settings.envs[config_env.settings.env].subnet }}",
      "security_group_id" : "{{ config_env.settings.envs[config_env.settings.env].sg }}",
      "instance_type": "{{ app.build_image.instance_type | default(config_env.defaults.instance_type) }}",
      "iam_instance_profile": "{{ app.build_image.instance_profile | default(config_env.defaults.instance_profile) }}",
      "encrypt_boot": "{{ app.build_image.encrypt_ami | default(config_env.defaults.encrypt_ami) }}",
      {# Spot Instance Cost Saving #}
      {% if (app.build_image.use_spot_instances|default(config_env.defaults.use_spot_instances)|bool) %}
          "spot_price": "auto",
      {% endif %}

      "source_ami_filter":  {
                "filters": {
                    "virtualization-type": "hvm",
                    "name": "{{ config_env.settings.base_images[app.build_image.base_ami].name }}",
                    "root-device-type": "ebs"
                },
                "owners": [
                    "{{ config_env.settings.base_images[app.build_image.base_ami].owner }}"
                ],
                "most_recent": true
      },
      "ami_name": "{{ app.app_name }}-{{ timestamp }}",
      "run_tags": {
        {% for tag in app.build_image.tags | default( [] ) %}{% for key,value in tag.items() %}
        
        "{{ key }}":  "{{ value }}",
        {% endfor %}{% endfor %}
        "Name": "Packer Builder for {{ app.app_name }}",
        "role": "packer"
      },
      "tags": {
          {% for tag in app.build_image.tags | default( [] ) %}{% for key,value in tag.items() %}
          
          "{{ key }}":  "{{ value }}",
          {% endfor %}{% endfor %}
          "Name": "{{ app.app_name }}"
      },
      "ami_users": [
          {% for account_shared_with in app.build_image.regions.accounts_shared_with | default(config_env.defaults.regions.accounts_shared_with) %}
          "{{ config_env.settings.envs[account_shared_with].account_id }}"{{ "," if not loop.last else "" }}
          {% endfor %}
      ],
      "ami_regions": [
          {% for region_copy in app.build_image.regions.copies | default(config_env.defaults.regions.copies) %}
          "{{ region_copy }}"{{ "," if not loop.last else "" }}
          {% endfor %}
      ],
      "ssh_username": "ec2-user",
      "shutdown_behavior": "terminate"
    }
  ],
  "provisioners": [
    {% for provisioner in app.build_image.provisioners | default([]) %}{
    {% for key,value in provisioner.items() %}
      "{{ key }}":  {{ value  | from_yaml | to_nice_json }}{{ "," if not loop.last else "" }}
    {% endfor %}
    },{% endfor %}
    {
      "type": "ansible",
      "playbook_file": "{{ ansible_dir }}/templates/playbooks/base_amz2.yml",
      "extra_arguments": [ "-v", "--extra-vars", "region={{ config_env.defaults.region }} app_name={{ app.app_name }}" ]
    }
  ]
}
